{% extends "navbar.html" %}
{% load static %}
{% block titulo %}
GESTOR CCD
{% endblock %}

{% block contenido %}
<style>
  
</style>
<link rel="stylesheet" href="{% static 'css/index.css' %}?v={% now 'U' %}">

<a href="{% url 'papeleria:login_papeleria' %}  ">
  <div class="container">
    <div class="card" id="pap">
      <h2 class="text_Card"><i class="bi bi-journal-bookmark-fill me-2"></i> Papeleria</h2>
    </div>
</a>
<a href="{% url 'cafeteria:login_cafeteria' %}">
  <div class="card" id="caf">
    <h2 class="text_Card"><i class="bi bi-cup-hot-fill me-2"></i> Cafeteria</h2>
  </div>
</a>
<a href="{% url 'cde:login_cde' %}">
  <div class="card" id="cde">
    <h2 class="text_Card"><i class="bi bi-calendar-event"></i> Centro De Eventos</h2>
  </div>
</a>

<a href="{% url 'libreria:crear_usuario' %}">
  <div class="card" id="user">
    <h2 class="text_Card"><i class="bi bi-person-plus"></i> Crear usuarios</h2>
  </div>
</a>
</div>

{% endblock %}