{% extends 'navbar.html' %}
{% load static%}
{% block titulo %}Stock bajo {% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'css/stock_bajo.css' %}?v={% now 'U' %}">
<section>
    <table>
        <h2>Articulos con stock bajo</h2>
        <div class="Bototnes">
            <button class="print" title="Imprimir la tabla de articulos"><i class="bi bi-printer"
                    id="icono"></i></button>
            <a
                href="{% url 'papeleria:reporte_articulo_bajo_stock_pdf' %}?q={{ request.GET.q }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}">
                <button class="pdf" title="Exportar a PDF">
                    <i class="fas fa-file-pdf text-white"></i>
                </button>
            </a>


            <a
                href="{% url 'papeleria:reporte_articulo_bajo_stock_excel' %}?q={{ request.GET.q }}&fecha_inicio={{ request.GET.fecha_inicio }}&fecha_fin={{ request.GET.fecha_fin }}"><button
                    class="excel" title="Exportar a Excel"><i class="fas fa-file-excel text-white"></i></button></a>
        </div>
        <form method="GET" action="{% url 'papeleria:lista_bajo_stock'  %}">
            <div>
                <!-- Input de búsqueda general -->
                <input type="text" name="q" id="buscador" placeholder="Buscar ..." class="buscador"
                    value="{{ request.GET.q }}">
                <button type="submit" class="btn-search" title="Buscar texto">
                    <i class="fas fa-search text-white"></i>

                </button>



                <!-- Inputs de fecha (inicialmente ocultos) -->
                <div id="filtro-fechas">
                    <label for="fecha_inicio">Desde:</label>
                    <input type="date" name="fecha_inicio" class="fecha_inicio" value="{{ request.GET.fecha_inicio }}">

                    <label for="fecha_fin">Hasta:</label>
                    <input type="date" class="fecha_fin" name="fecha_fin" value="{{ request.GET.fecha_fin }}">

                    <button type="submit" class="search-date" title="Buscar por rango de fecha">
                        <i class="fas fa-search text-white"></i>

                    </button>
                </div>
                <!-- Botón para limpiar filtros -->
                <a href="{% url 'papeleria:lista_bajo_stock' %}">
                    <button type="button" class="clean" title="Limpiar búsqueda"><i class="fas fa-trash text-white"
                            title="Eliminar"></i>
                    </button>
                </a>
            </div>
        </form>
        <thead>
            <tr>
                <th class="id">ID</th>
                <th class="nombre">Nombre</th>
                <th class="marca">Marca</th>
                <th class="cantidad">cantidad</th>
                <th class="precio">Precio</th>
                <th class="estado">Registrado por</th>
                <th class="actividad">Fecha de registro</th>
                <th class="observacion">Observacion</th>
            </tr>
        </thead>
        <tbody>
            {% for articulo in articulos %}
            <tr>
                <td>{{ articulo.id }}</td>
                <td>{{ articulo.nombre }}</td>
                <td>{{ articulo.marca }}</td>
                <td>{{ articulo.cantidad }}</td>
                <td>${{ articulo.precio }}</td>
                <td>{{ articulo.registrado_por }}</td>
                <td>{{ articulo.fecha_registro }}</td>
                <td>{{ articulo.observacion }}</td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No se encontraron resultados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="paginacion" id="pag">
        {% if articulos.has_previous %}
        <a href="?page={{ articulos.previous_page_number }}">Anterior</a>
        {% endif %}
        {% for num in articulos.paginator.page_range %}
        {% if articulos.number == num %}
        <span class="current">{{ num }}</span>
        {% else %}
        <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}
        {% if articulos.has_next %}
        <a href="?page={{ articulos.next_page_number }}">Siguiente</a>
        {% endif %}
    </div>

</section>
{% endblock %}