<<<<<<< HEAD
body,
html {
=======
<<<<<<< HEAD
body,
html {
=======
/* Estilos generales */
body, html {
>>>>>>> 3797db6 (Sexagésimo tercer commit)
>>>>>>> b659cb3 (Sexagésimo commit)
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b659cb3 (Sexagésimo commit)
    overflow: hidden; /* Elimina el scroll horizontal y vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80808000; /* Gris de fondo si la imagen no carga */
}
section {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
<<<<<<< HEAD
=======
=======
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c96bb1c;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
}

/* Estilos para las cards principales */
>>>>>>> 3797db6 (Sexagésimo tercer commit)
>>>>>>> b659cb3 (Sexagésimo commit)
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b659cb3 (Sexagésimo commit)
    background: rgb(9, 151, 194);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 180px;
    color: white;
    /* Estado inicial para animación */
    opacity: 0;
    transform: translateY(20px);
    /* Animación */
    animation: fadeInUp 0.6s ease forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, background 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
<<<<<<< HEAD
=======
=======
    padding: 15px;
    border-radius: 10px;
    width: 187px;
    max-height: 30vh;
    color: white;
    background: linear-gradient(110deg, #c7def893, #ffffffe8);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
    border: 2px solid rgba(2, 47, 90, 0.63);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
>>>>>>> 3797db6 (Sexagésimo tercer commit)
>>>>>>> b659cb3 (Sexagésimo commit)
    box-shadow: 0 12px 40px rgba(17, 0, 255, 0.2);
    border: 2px solid rgb(14, 79, 133);
    background: linear-gradient(to bottom, #1cabd6, #1791b68e);
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b659cb3 (Sexagésimo commit)
/* Definición de la animación fadeInUp */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
<<<<<<< HEAD
=======
=======
.icono {
    width: 48px;
    height: 28px;
    margin-bottom: 1rem;
    color: #000000;
    transition: transform 0.3s ease;
    z-index: 1;
}

.card:hover .icono {
    transform: scale(1.2);
    color: #cde0f7;
}

.name {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 1.5rem;
    border: 1px solid #888;
    border-radius: 10px;
    width: 40%;
    max-width: 800px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 20px;
}

.modal-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 0 20px 0;
    border-radius: 8px;
    background: #ebf8ff;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    height: 4vh;
    width: 84vh;
    
    
}

.modal-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background: #4299e1;
}

.modal-icono {
    width: 28px;
    height: 18px;
    margin-left: 0.85rem;
    
}

.modal-name {
    color: #4a5568;
    font-size: 14px;
    
    text-align: left;
    margin-top:1vh;
    
}
.modal-name:hover {
    color: #ffffff;
    
}

/* Responsive */
@media (max-width: 768px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .modal-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    section {
        grid-template-columns: 1fr;
    }
    
    .modal-grid {
        grid-template-columns: 1fr;
    }
}
>>>>>>> 3797db6 (Sexagésimo tercer commit)
>>>>>>> b659cb3 (Sexagésimo commit)
