body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Elimina el scroll horizontal y vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c96bb1c;
}
section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #f0f0f0, #cde0f7);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
    width: 187px;
    max-height: 30vh;
    color: white;
    /* Estado inicial para animación */
    opacity: 0;
    transform: translateY(20px);
    /* Animación */
    animation: fadeInUp 0.6s ease forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease, background 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 40px rgba(17, 0, 255, 0.2);
    border: 2px solid rgb(14, 79, 133);
    background: linear-gradient(to bottom, #1cabd6, #1791b68e);
}

/* Definición de la animación fadeInUp */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Iconos */
.icono {
    width: 48px;
    height: 48px;
    margin-bottom: 1rem;
    color: #000000;
    
    transition: transform 0.3s ease;
    z-index: 1;
}

.card:hover .icono {
    transform: scale(1.2);
    color: #cde0f7;
}
.name{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}