html {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  background-color: #1c96bb1c;
}
section {
  background: linear-gradient(110deg, #c7def893, #ffffffe8);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
  border: 2px solid rgba(2, 47, 90, 0.63);
  position: relative;
  top: 23vh;
  left: 9vh;
  text-align: center;
  padding: 10px 20px 20px 20px;
  width: 190vh;
  height: 60vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;

}
table {
  width: 180vh;
  border-spacing: 10px;
  position: absolute;
  top: 20vh;
  left: 8vh;
  table-layout: fixed;

}

/* Anchos fijos para cada columna */
td, th {
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega ... si el texto es muy largo */
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
}

.id {
  width: 40px; /* Ancho fijo para ID */
  left: 20vh;
  background-color: rgba(43, 116, 226, 0.616);
  border-radius: 10px;
}

.nombre {
  width: 170px; /* Ancho fijo para Nombre */
  left: 20vh;
  background-color: rgba(43, 116, 226, 0.616);
  border-radius: 10px;
}

.marca {
  width: 150px; /* Ancho fijo para Marca */
  left: 20vh;
  background-color: rgba(43, 116, 226, 0.616);
  border-radius: 10px;
}

.cantidad {
  width: 50px; /* Ancho fijo para Cantidad */
  left: 20vh;
  border-radius: 10px;
  background-color: rgba(43, 116, 226, 0.616);
}

.tipo {
  width: 850px; /* Ancho fijo para Tipo */
  left: 20vh;
  background-color: rgba(43, 116, 226, 0.616);
  border-radius: 10px;
}

.acciones {
  width: 150px; /* Ancho fijo para Acciones (más amplio para botones) */
  left: 20vh;
  background-color: rgba(43, 116, 226, 0.616);
  border-radius: 10px;
}
td {
   background-color: rgba(255, 255, 255, 0.384);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
  margin: 20vh 0 20vh 0;
  border-radius: 10px;
  max-height: 7vh;
  align-items: center;

}

/* PAGINACION */
.paginacion {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  gap: 0.5rem;
  font-family: Arial, sans-serif;
}

.paginacion a,
.paginacion span {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid transparent;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  position: relative;
  top: 45vh;
}

.paginacion a:hover {
  background-color: #015cbd;
  color: white;
  border-color: #007bff;
}

.paginacion .current {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  cursor: pointer;
  font-weight: bold;
}

.paginacion .current:hover {
  background-color: #015cbd;
}

/* MODAL DE ELIMINAR ARTICULO*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  /* Fondo negro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.163);
}

.modal-contenido {
  background-color: rgb(221, 240, 252);
  width: 40%;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  left: 65vh;
  top: 40vh;
}

.btn-delete {
  background-color: rgb(252, 6, 6);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  height: 6vh;
  width: 35vh;
  border-radius: 20px;
  margin: 10px;
}
.back {
  background-color: rgb(252, 248, 6);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  height: 6vh;
  width: 35vh;
  border-radius: 20px;
  margin: 10px;
}

.btn-delete:hover {
  background-color: rgb(187, 9, 9);
  cursor: pointer;
}

.back:hover {
  background-color: rgb(177, 174, 4);
  cursor: pointer;
}

/*BOTONES DE ACCESO RAPIDO*/
.crear {
  background-color: rgb(0, 60, 255);
  border: none;
  width: 10vh;
  height: 25px;
  border-radius: 20px;
  margin-right: 1vh;
  position: absolute;
  top: 5vh;
  right: 5vh;
  color: white;
  transition: background-color 0.3s, transform 0.2s;

}

.crear:hover {
  background-color: rgb(9, 36, 187);
  cursor: pointer;

}
/*ACCIONES*/
.por_fecha {
  background-color: #0056b3;
  color: white;
  border: none;
  width: 10vh;
  height: 35px;
  border-radius: 20px;
  position: absolute;
  top: 12vh;
  left: 80vh;
  font-weight: bold;
  cursor: pointer;
}

#filtro-fechas {

  position: absolute;
  left: 95vh;
  top: 11vh;
}

.fecha_inicio,
.fecha_fin {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #000;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100px;
  height: 7px;
}

.fecha_inicio:hover,
.fecha_fin:hover {
  border-color: #1e90ff;
}

.fecha_inicio:focus,
.fecha_fin:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.search-date {
  background-color: #b30000;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  position: absolute;
  left: 58vh;
  top: -1vh;
  width: 50px;
  text-align: center;
}

.search-date:hover {
  background-color: #044080;
  cursor: pointer;
}

.clean {
  background-color: #b30000;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  position: absolute;
  right: 20vh;
  top: 12.5vh;
  width: 10vh;
  text-align: center;
  margin-right: 1vh;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clean:hover {
  background-color: #8a0101;
  cursor: pointer;
  color: black;
}

.btn-search {
  background-color: #0056b3;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  position: absolute;
  left: 72vh;
  top: 12vh;
  width: 10vh;
  height: 25px;
  text-align: center;

  /* Centrado con Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-search:hover {
  background-color: #044080;
  cursor: pointer;
  color: black;
}

.search-date {
  background-color: #0056b3;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  position: absolute;
  height: 25px;
  left: 58vh;
  top: 0vh;
  width: 10vh;
  text-align: center;

  /* Centrado con Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-date:hover {
  background-color: #044080;
  cursor: pointer;
}

.buscador {
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  height: 3.5vh;
  width: 50vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 20vh;
}
.Botones {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 60vh;
  top: 40vh;
}
.print {
  background-color: yellow;
  border: none;
  width: 10vh;
  height: 25px;
  border-radius: 20px;
  margin-right: 1vh;
  position: absolute;
  top: 5vh;
  right: 40vh;
  cursor: pointer;
}

.print:hover {
  background-color: rgb(190, 190, 3);
}
.pdf {
  background-color: rgb(255, 0, 0);
  border: none;
  width: 10vh;
  height: 25px;
  border-radius: 20px;
  position: absolute;
  top: 5vh;
  right: 30vh;
  font-weight: bold;
}

.pdf:hover {
  background-color: rgb(187, 3, 3);
  cursor: pointer;
}

.excel {
  background-color: rgb(0, 255, 13);
  border: none;
  width: 10vh;
  height: 25px;
  border-radius: 20px;
  position: absolute;
  top: 5vh;
  right: 18vh;
  font-weight: bold;
}

.excel:hover {
  background-color: rgb(4, 187, 13);
  cursor: pointer;
}
.editar-btn {
  background-color: rgb(233, 200, 12);
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 10vh;
  height: 25px;
  border-radius: 20px;
  margin-right: 1vh;
  cursor: pointer;
}

.editar-btn:hover {
  background-color: rgb(159, 170, 11);
}
#detalles {
  width: 10vh;
  height: 25px;
  background-color: yellow;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
}

#detalles:hover {
  background-color: rgb(190, 190, 3);
  cursor: pointer;
}

.eliminar-btn {
  background-color: rgb(233, 12, 12);
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  cursor: pointer;
  width: 10vh;
  height: 25px;
  margin-right: 1vh;
}

.eliminar-btn:hover {
  background-color: rgb(170, 11, 11);

}
.icono {
  height: 3vh;
}

#icono {
  height: 3vh;
}
/* Modal */
#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  max-width: 500px;
  width: 90%;
}

#modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#modal button {
  margin-top: 15px;
  padding: 8px 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#modal button:hover {
  background-color: #0056b3;
}

.detalles-ocultos {
  display: none;
}

.btn-accion {
  margin: 5px;
  padding: 6px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-accion.cancelar {
  background-color: #dc3545;
}

.btn-accion:hover {
  opacity: 0.9;
}
 #filtro-fechas {
        margin-top: 10px;
    }
     @media print {
        body * {
            visibility: hidden;
        }

        h1,
        table,
        table * {
            visibility: visible;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
            border: 1px solid black;
        }

        th,
        td {
            border: 1px solid black;
            padding: 6px;
            text-align: center;
        }

        #btn-print,
        .Bototnes,
        form,
        .paginacion,
        .fondo,
        .modal {
            display: none !important;
        }
    }

    /* Estilos para el modal de detalles */
    #modal-detalles {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 1000;
        max-width: 500px;
        width: 90%;
         max-height: 80vh;
        text-align: left;
        overflow-y: auto;       
    }

    #modal-detalles-backdrop {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    #modal-detalles .cerrar {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
    }
    .cerrar:hover{
        color: red;
    }
    #detalles {
        width: 10vh;
        height: 25px;
        background-color: yellow;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        border: none;
    }

    #detalles:hover {
        background-color: rgb(190, 190, 3);
        cursor: pointer;
    }