{% extends "navbar.html" %}
{% load static %}
{% block titulo %}
  GESTOR CCD
{% endblock %}

{% block contenido %}
<style>
  
</style>
<link rel="stylesheet" href="{% static 'css/index.css' %}?v={% now 'U' %}">
  <div class="fondo">
    <img src="{% static 'imagen/LOGO.png' %}" alt="Logo CCD">
  </div>  <!-- Agregar el fondo al inicio -->
  
  <a href="{% url 'papeleria:login_papeleria' %}  "><div class="container">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1456735190827-d1262f71b8a3?q=80&w=1468&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Imagen de la tarjeta">
      <h2>Papeleria</h2>
      <p>Ingresa para gestión el módulo de papeleria</p>
    </div></a>
    <a href="{% url 'cafeteria:login_cafeteria' %}">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1609534655988-3f5225c13553?q=80&w=1370&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Imagen de la tarjeta">
        <h2>Cafetería</h2>
        <p>Ingresa para gestionar la Cafetería</p>
      </div>
    </a>
    <a href="{% url 'cde:login_cde' %}">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1679205691826-9157415559c2?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Imagen de la tarjeta">
        <h2>Centro de eventos</h2>
        <p>Ingresa para gestionar centro de eventos</p>
      </div>
    </a>
    
    <div class="card">
      <img src="https://plus.unsplash.com/premium_photo-1684304568978-c24daf72a9bf?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Imagen de la tarjeta">
      <h2>Manual de usuario</h2>
      <p>Mira el manual de usuario</p>
    </div>
  </div>
  
{% endblock %}
