{% extends 'navbar.html' %}
{% load static %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/index_pap.css' %}?v={% now 'U' %}">

<div class="fondo">
    <img src="{% static 'imagen/LOGO.png' %}" alt="Logo CCD">
</div>
<div class="uno">
    <a href="{% url 'libreria:crear_usuario' %}"><div class="opcion">
        <i data-feather="user-plus" class="icono"></i>
        <span>Crear usuario</span>
    </div></a>
    <a href="#">
        <div class="opcion">
            <i data-feather="plus-square" class="icono"></i>
            <span>Ver perfil</span>
        </div>
    </a>
    
    <a href="#">
        <div class="opcion">
            <i data-feather="users" class="icono"></i>
            <span>Lista de usuarios</span>
        </div>
    </a>
    <a href="#"><div class="opcion">
        <i data-feather="user-plus" class="icono"></i>
        <span>Crear articulo</span>
    </div></a>
    <a href="#">
        <div class="opcion">
            <i data-feather="package" class="icono"></i>
            <span>Listar articulos</span>
        </div>
    </a>
    <div class="opcion">
        <i data-feather="refresh-ccw" class="icono"></i>
        <span>Movimientos</span>
    </div>
    <div class="opcion">
        <i data-feather="briefcase" class="icono"></i>
        <span></span>
    </div>
    <div class="opcion">
        <i data-feather="alert-triangle" class="icono"></i>
        <span>Articulos con bajo stock</span>
    </div>
    <div class="opcion">
        <i data-feather="bar-chart" class="icono"></i>
        <span>Estadisticas</span>
    </div>
    <div class="opcion">
        <i data-feather="lock" class="icono"></i>
        <span>Cambiar contraseña</span>
    </div>
    <a href="{% url 'papeleria:logout_view' %}">
        <div class="opcion">
            <i data-feather="log-out" class="icono"></i>
            <span>Salir</span>
        </div>
    </a>
</div>

<script>
    feather.replace();
</script>

{% endblock %}