

html,
body {
    background-color: #86cfe61c;
}
.card-confirm {
    background: linear-gradient(110deg, #c7def893, #ffffffe8);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
    border: 2px solid rgba(2, 47, 90, 0.63);
    text-align: center;
    position: relative;
    top: 20vh;
    width: 470px;
    left: 70vh;
    border-radius: 10px;
    height: 440px;
    
}
.form-input0 {
    background-color: rgb(253, 253, 253);
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    width: 400px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    left: 8px;
    top: -8px;
    position: relative;
}
.form-control1 {
    background-color: rgb(255, 255, 255);
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    width: 400px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    left: 8px;
    position: relative;
    top: -13px;

}

.form-label2 {
    position: relative;
    display: block;
    top: -18px;
    left: 14px;
    font-weight: bold;
}
.form-control2 {
    background-color: rgb(253, 253, 253);
    height: 30px;
    border-radius: 10px;
    border: none;
    width: 400px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    left: 8px;
    position: relative;
    top: -23px;
}
.verification-indicator {
        display: none;
        color: #015aff;
        font-size: 0.9rem;
        position: relative;
         top: -4px;
        left: 24px;
        align-items: center;
        gap: 8px;
        font-weight: bold;
    }
    
    .verification-indicator.show {
        display: flex;
    }
    .error-old,
    .error-new1,
    .error-new2 {
        font-size: 0.9rem;
        
    }

    .error-old {
        color: rgb(255, 30, 0);
        font-weight: bold;
        position: relative;
        top: -4px;
        left: 12px;
    }
@keyframes shake-slow {
    0% {
        transform: translateX(-3px);
    }

    25% {
        transform: translateX(3px);
    }

    50% {
        transform: translateX(-2px);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}
.btn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 1px solid black;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    left: 3.5vh;
    top: 32vh;
    transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: rgb(33, 74, 187);
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
}

