body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* Elimina el scroll horizontal y vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80808000;
    /* Gris de fondo si la imagen no carga */
}

html,
body {
    background-color: #86cfe61c;
}


/* Móviles (hasta 767px) */
@media (max-width: 767px) {
    .formulario {
        margin-top: 20%;
        padding: 10px;
        border-radius: 10px;
        width: 95%;
        min-height: 73vh;
        background: linear-gradient(110deg, #c7def893, #ffffffe8);
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
        border: 2px solid rgba(2, 47, 90, 0.63);
    }
    #userForm {
        padding: 10px;
        max-height: 60vh; /* Set a maximum height for the form */
        overflow-y: auto; /* Enable vertical scrolling */
    }
    input,
    .form-select {
        height: 5vh;
        width: 100%;
        margin: 8px 0;
        border-radius: 10px;
    }

input{
    height: 5vh;
}
    label {
        margin: 5px 0;
        font-size: 0.85rem;
        text-align: center;
        font-weight: bold;
    }

    .btn {
        height: 7vh;
        width: 100%;
        margin: 15px 0;
        border-radius: 10px;
    }

    h2 {
        font-size: 1.3rem;
    }

    .error-nombre,
    .error-cargo,
    .error-email,
    .error-password {
        font-size: 0.75rem;
        margin-top: -0.5vh;
        font-weight: bold;
        color: red;
    }
    
}
/* Escritorio (1025px en adelante) */
@media (min-width: 1025px) {

    .formulario {
         background: linear-gradient(110deg, #c7def893, #ffffffe8);
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
        border: 2px solid rgba(2, 47, 90, 0.63);
        margin-top: 7%;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;
        height: 60vh;
    }

    #userForm {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 30px 30px 30px 30px;
        height: 30vh;
        margin-top: 2%;

    }

    input,
    .form-select {
        margin-bottom: 15vh;
        margin-right: 5px;
        border: none;
        border-radius: 20px;
        height: 4vh;
        width: 35vh;
        margin: 10px 30px 30px 30px;
        border: 1px solid black;
    }

    label {
        display: block;
        margin: 10px 30px 0px 30px;
    }

    .btn {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-weight: bold;
        border: 2px solid black;
        height: 6vh;
        width: 35vh;
        border-radius: 20px;
        cursor: pointer;
        margin-left: 113%;
        margin-top: 11%;
    }

    .btn:hover {
        background-color: rgb(33, 74, 187);
        color: rgb(255, 255, 255);
    }

    h2 {
        text-align: center;
    }

    .error-nombre,
    .error-cargo,
    .error-email,
    .error-password {
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        color: rgb(255, 0, 0);
    }

    .error-nombre {
        display: block !important;
        position: static !important;
        margin-top: -4vh !important;
        margin-left: 5vh !important;
        color: red !important;
        font-size: 0.9rem !important;
    }
    .error-cargo {
        display: block !important;
        position: static !important;
        margin-top: -4vh !important;
        margin-left: 5vh !important;
        color: rgb(255, 0, 0) !important;
        font-size: 0.9rem !important;
    }

    .error-email {
        display: block !important;
        position: static !important;
        margin-top: -4vh !important;
        margin-left: 5vh !important;
        color: rgb(255, 0, 0) !important;
        font-size: 0.9rem !important;
    }

    .error-password {
        display: block !important;
        position: static !important;
        margin-top: -4vh !important;
        margin-left: 5vh !important;
        color: rgb(255, 0, 0) !important;
        font-size: 0.9rem !important;
    }

}
/* Tablets (768px — 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .formulario {
        margin-top: 20%;
        padding: 10px;
        border-radius: 30px;
        width: 195%;
        margin-left: -50%;
        min-height: 65vh;
         background: linear-gradient(110deg, #c7def893, #ffffffe8);
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
        border: 2px solid rgba(2, 47, 90, 0.63);
        position: relative;
    }

    #userForm {
        max-height: 43vh;
        overflow-y: scroll;
        padding: 10px 20px 80px 20px; /* extra bottom padding for button visibility */
        scrollbar-width: none; /* Firefox */
        
    }

    #userForm::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
    }

    input,
    .form-select {
        height: 4vh;
        width: 90%;
        margin: 8px 0;
        border-radius: 10px;
        font-size: large;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 6%;
        align-items: center;
    }

    label {
        margin: 5px 0;
        font-size: large;
        text-align: center;
        font-weight: bold;
        display: block;
    }

    .btn {
        height: 6vh;
        width: 50%;
        border-radius: 20px;
        border: 2px solid black;
        background-color: white;
        font-size: large;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    h2 {
        font-size: 1.3rem;
        text-align: center;
        font-weight: bold;
    }

    .error-nombre,
    .error-cargo,
    .error-email,
    .error-password {
        font-size: 1.20rem;
        margin-top: -0.5vh;
        font-weight: bold;
        color: red;
        margin-left: 10%;
    }
}
