<<<<<<< HEAD
body, html {
=======
<<<<<<< HEAD
body, html {
=======
body,
html {
>>>>>>> 3797db6 (Sexagésimo tercer commit)
>>>>>>> b659cb3 (Sexagésimo commit)
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b659cb3 (Sexagésimo commit)
    overflow: hidden; /* Elimina el scroll horizontal y vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80808000; /* Gris de fondo si la imagen no carga */
  }
  .formulario{
    background: rgba(255, 255, 255, 0.678);
    position: absolute;
    top: 20vh;
    left: 32vh;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 60vh;
}
#userForm{
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 30px 30px 30px 30px;
    height: 30vh;
    margin-top: -2vh;
  
}
input, .form-select{
    margin-bottom: 50vh;
    margin-right: 9px;
    border: none;
    border-radius: 20px;
    height: 4vh;
    width: 35vh;
    margin: 0px 20px 30px 40px;
    border: 1px solid black;
}

label{
    display: block;
    margin: 0px 20px 0px 30px;
}
.btn{
    background-color: rgb(255, 30, 0);
    color: white;
    font-weight: bold;
    border: none;
<<<<<<< HEAD
=======
=======
    overflow: hidden;
    /* Elimina el scroll horizontal y vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80808000;
    /* Gris de fondo si la imagen no carga */
}

html,
body {
    background-color: #86cfe61c;
}
/* Escritorio (1025px en adelante) */
@media (min-width: 1025px) {

    .formulario {
         background: linear-gradient(110deg, #c7def893, #ffffffe8);
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
        border: 2px solid rgba(2, 47, 90, 0.63);
        margin-top: 7%;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;
        height: 60vh;
    }

    #userForm {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 30px 30px 30px 30px;
        height: 30vh;
        margin-top: 2%;

    }

    input,
    .form-select {
        margin-bottom: 15vh;
        margin-right: 5px;
        border: none;
        border-radius: 20px;
        height: 4vh;
        width: 35vh;
        margin: 10px 30px 30px 30px;
        border: 1px solid black;
    }

    label {
        display: block;
        margin: 10px 30px 0px 30px;
    }

    .btn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px solid black;
>>>>>>> 3797db6 (Sexagésimo tercer commit)
>>>>>>> b659cb3 (Sexagésimo commit)
    height: 6vh;
    width: 35vh;
    border-radius: 20px;
    position: absolute;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b659cb3 (Sexagésimo commit)
    left: 67vh;
    top: 55vh;
    cursor: pointer;
}
h2{
    text-align: center;
}
<<<<<<< HEAD
=======
=======
    left: 89vh;
    top: 72vh;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(33, 74, 187);
    color: rgb(255, 255, 255);
}


    h2 {
        text-align: center;
    }

    .error-nombre,
    .error-cargo,
    .error-email,
    .error-password {
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        color: rgb(255, 0, 0);
    }

    .error-nombre {
        display: block !important;
        position: static !important;
        margin-top: -4vh !important;
        margin-left: 5vh !important;
        color: red !important;
        font-size: 0.9rem !important;
    }
    .error-cargo {
        display: block !important;
        position: static !important;
        margin-top: -4vh !important;
        margin-left: 5vh !important;
        color: rgb(255, 0, 0) !important;
        font-size: 0.9rem !important;
    }

    .error-email {
        display: block !important;
        position: static !important;
        margin-top: -4vh !important;
        margin-left: 5vh !important;
        color: rgb(255, 0, 0) !important;
        font-size: 0.9rem !important;
    }

    .error-password {
        display: block !important;
        position: static !important;
        margin-top: -4vh !important;
        margin-left: 5vh !important;
        color: rgb(255, 0, 0) !important;
        font-size: 0.9rem !important;
    }

}
>>>>>>> 3797db6 (Sexagésimo tercer commit)
>>>>>>> b659cb3 (Sexagésimo commit)
