.card{
    max-width: 550px;
    margin: 60px auto;
    top: 10.5vh;
    border: none;
    border-radius: 15px;
    background: linear-gradient(135deg, #f0f0f0f3, #cde0f7e8);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body {
    padding: 40px;
    position: relative;
}
.card {
    max-width: 550px;
    margin: 60px auto;
    top: 10.5vh;
    border: none;
    border-radius: 15px;
    background: linear-gradient(135deg, #f0f0f0f3, #cde0f7e8);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    padding: 40px;
    position: relative;
    width: 100%;
    background-color: aqua;
}
label{
    background-color: blue;
}
.info {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: #333;
}

.nombre_div,
.rol_div,
.email_div,
.cargo_div {
    margin-bottom: 20px;
}

label {
    font-weight: 600;
    color: #444;
}

span {
    display: block;
    margin-top: 5px;
    color: #222;
}

.editar{
    background-color: rgb(255, 255, 255);
    margin-right: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px solid black;
    height: 6vh;
    width: 25vh;
    border-radius: 20px;
}
.editar:hover{
    background-color: rgb(33, 74, 187);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.atras{
    background-color: rgb(255, 255, 255);
    margin-right: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 2px solid black;
    height: 6vh;
    width: 25vh;
    border-radius: 20px;
    margin-left: 50px;
}
.atras:hover{
    background-color: rgb(187, 69, 33);
    color: rgb(255, 255, 255);
    cursor: pointer;
}