{% extends 'navbar.html' %}
{% load static %}

{% block titulo %}
Restablecimiento de Contraseña
{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/mod_restablecer_contraseña.css' %}?v={% now 'U' %}">
<div class="fondo">
    <img src="{% static 'imagen/LOGO.png' %}" alt="Logo CCD">
</div>
<div class="card-done">
    {% if request.GET.sent == "true" %}
        <div class="check-icon">✔️</div>
        <h2>Solicitud de Restablecimiento Enviada</h2><br>
        <p><strong>Estimado usuario de CCD Software,</strong><br>
            Si tu correo electrónico está registrado en nuestro sistema, recibirás un mensaje con un enlace para restablecer tu contraseña.<br>
            Si no recibes el correo en unos minutos, verifica tu carpeta de spam o intenta con otro correo electrónico.<br>
            ¡Gracias por confiar en nosotros!</p>
    {% else %}
        <h2>Error en la Solicitud</h2><br>
        <p><strong>Lo sentimos, este correo no se encuentra registrado en nuestro sistema.</strong><br>
            Por favor, verifica que ingresaste el correo correctamente o intenta con otro.</p>
    {% endif %}
    
    <a href="{% url 'libreria:inicio' %}" class="boton-login">Volver al inicio de sesión</a>
</div>
{% endblock %}
