{% extends 'navbar.html' %}
{% load static %}
{% block titulo %}Estadisticas Gestor CCD {% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'css/index_estadistica.css' %}?v={% now 'U' %}">
<section>
   
    <a href="{% url 'papeleria:graficas_usuarios' %}">
        <div class="card">
        <p>Usuarios Activos/inactivos</p>
    </div>
    </a>
    <a href="{% url 'papeleria:graficas_articulos' %}">
        <div class="card">
        <p>Cantidad de articulos</p>
    </div>
    </a>
    <a href="{% url 'papeleria:grafica_bajoStock' %}">
        <div class="card">
        <p>Bajo stock </p>
    </div>
    </a>
    <a href="{% url 'papeleria:grafica_pedidos' %}">
        <div class="card">
        <p>Estado de pedidos</p>
    </div>
    </a>
    <a href="{% url 'papeleria:pedidos_area' %}">
        <div class="card">
            <p>Pedidos por areas</p>
        </div>
    </a>
   </div>
</section>
{% endblock %}