{% extends 'navbar.html' %}
{% load static %}

{% block titulo %}Pedidos Pendientes{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/listar_pedido_pendiente.css' %}?v={% now 'U' %}">

{% if request.user.role == 'Administrador' %}
<section>
    <h1>Pedidos Pendientes</h1>
    <!-- Mensajes de Django para mostrar feedback -->
    <div class="messages">
        {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <table>
        <div class="Bototnes">
        <button class="print" title="Imprimir la tabla de articulos"><i class="bi bi-printer" id="icono"></i></button>
        <a href="{% url 'papeleria:reporte_pedidos_pendientes_pdf' %}"><button class="pdf" title="Exportar a PDF"><i
                    class="fas fa-file-pdf text-white"></i></button></a>
        <a href="{% url 'papeleria:reporte_pedidos_pendientes_Excel' %}"><button class="excel" title="Exportar a Excel"><i
                    class="fas fa-file-excel text-white"></i></button></a>
    </div>
        <form method="GET" action="{% url 'papeleria:pedidos_pendientes' %}">
        <div>
            <!-- Input de búsqueda general -->
            <input type="text" name="q" id="buscador" placeholder="Buscar ..." class="buscador"
                value="{{ request.GET.q }}">
            <button type="submit" class="btn-search" title="Buscar texto">
                <i class="fas fa-search text-white"></i>

            </button>



            <!-- Inputs de fecha (inicialmente ocultos) -->
            <div id="filtro-fechas">
                <label for="fecha_inicio">Desde:</label>
                <input type="date" name="fecha_inicio" class="fecha_inicio" value="{{ request.GET.fecha_inicio }}">

                <label for="fecha_fin">Hasta:</label>
                <input type="date" class="fecha_fin" name="fecha_fin" value="{{ request.GET.fecha_fin }}">

                <button type="submit" class="search-date" title="Buscar por rango de fecha">
                    <i class="fas fa-search text-white"></i>

                </button>
            </div>
            <!-- Botón para limpiar filtros -->
            <a href="{% url 'papeleria:pedidos_pendientes' %}">
                <button type="button" class="clean" title="Limpiar búsqueda"><i class="fas fa-trash text-white"
                        title="Eliminar"></i>
                </button>
            </a>
        </div>
    </form>
        <thead>
            <tr>
                <th class="id">ID</th>
                <th class="nombre">Usuario</th>
                <th class="pedido">Pedido</th>
                <th class="estado">Estado</th>
                <th class="accion">Acciones</th>
            </tr>
        </thead>
        <tbody id="tabla-pedidos">
            {% for pedido in pedidos %}
            <tr id="pedido-{{ pedido.id }}">
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.registrado_por }}</td>
                <td>
                    {% for articulo_pedido in pedido.articulos.all %}
                    <p>{{ articulo_pedido.articulo.nombre }} ({{ articulo_pedido.cantidad }})</p>
                    {% empty %}
                    <p>No hay artículos asociados</p>
                    {% endfor %}
                </td>
                <td>{{ pedido.estado }}</td>
                <td class="botones">
                    <!-- Formulario para confirmar -->
                    <form class="form-cambiar-estado" data-id="{{ pedido.id }}" method="POST"
                        action="{% url 'papeleria:cambiar_estado_pedido' pedido.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="estado" value="Confirmado">
                        <button type="submit" class="btn-confirmar"><i data-feather="check-square" class="icono"></i>
                        </button>
                         <!-- Formulario para cancelar -->
                    <form class="form-cambiar-estado" data-id="{{ pedido.id }}" method="POST"
                        action="{% url 'papeleria:cambiar_estado_pedido' pedido.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="estado" value="Cancelado">
                        <button type="submit" class="btn-cancelar"><i data-feather="x-square" class="icono"></i>
                        </button>
                    </form>
                    </form>
                    
                    
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No hay pedidos pendientes</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     <div class="paginacion" id="pag">
        {% if pedidos.has_previous %}
        <a href="?page={{ pedidos.previous_page_number }}">Anterior</a>
        {% endif %}
        {% for num in pedidos.paginator.page_range %}
        {% if pedidos.number == num %}
        <span class="current">{{ num }}</span>
        {% else %}
        <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}
        {% if pedidos.has_next %}
        <a href="?page={{ pedidos.next_page_number }}">Siguiente</a>
        {% endif %}
    </div>
</section>
{% endif %}
{% if request.user.role == 'Empleado' %}
<section>
    <h1>Pedidos Pendientes</h1>
    <!-- Mensajes de Django para mostrar feedback -->
    <div class="messages">
        {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <table>
        <thead>
            <tr>
                <th class="id">ID</th>
                <th class="nombre">Usuario</th>
                <th class="pedido">Pedido</th>
                <th class="estado">Estado</th>
                <th class="accion">Acción</th>
            </tr>
        </thead>
        <tbody id="tabla-pedidos">

        </tbody>
    </table>
     <div class="paginacion" id="pag">
    {% if articulos.has_previous %}
        <a href="?page={{ articulos.previous_page_number }}">Anterior</a>
    {% endif %}
    {% for num in articulos.paginator.page_range %}
        {% if articulos.number == num %}
            <span class="current">{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if articulos.has_next %}
        <a href="?page={{ articulos.next_page_number }}">Siguiente</a>
    {% endif %}
</div>

</section>
{% endif %}
{% endblock %}