body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Elimina el scroll horizontal y vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80808000; /* Gris de fondo si la imagen no carga */
  }
  .formulario{
    background: rgba(255, 255, 255, 0.678);
    position: absolute;
    top: 20vh;
    left: 32vh;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 60vh;
}
#userForm{
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 30px 30px 30px 30px;
    height: 30vh;
    margin-top: -2vh;
  
}
input, .form-select{
    margin-bottom: 50vh;
    margin-right: 9px;
    border: none;
    border-radius: 20px;
    height: 4vh;
    width: 35vh;
    margin: 0px 20px 30px 40px;
    border: 1px solid black;
}

label{
    display: block;
    margin: 0px 20px 0px 30px;
}
.btn{
    background-color: rgb(255, 30, 0);
    color: white;
    font-weight: bold;
    border: none;
    height: 6vh;
    width: 35vh;
    border-radius: 20px;
    position: absolute;
    left: 67vh;
    top: 55vh;
    cursor: pointer;
}
h2{
    text-align: center;
}
