{% extends 'navbar.html' %}
{% load static %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<style>
    .empleado-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        left: 10vh;
        top: 10vh;
        padding: 10vh 10vh 10vh 10vh;

    }

    .card-uno {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: linear-gradient(to bottom, rgba(10, 91, 196, 0.596), rgba(4, 45, 97, 0.596));

        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 380px;
        height: 80px;
        margin-left: 15vh;
        margin-bottom: 5lvh;
    }

    .card-uno:hover {
        background: linear-gradient(to bottom, rgba(4, 45, 97, 0.596), rgba(10, 91, 196, 0.596));
        transform: scale(1.05);
        border: 10px white;
    }
</style>
<link rel="stylesheet" href="{% static 'css/index_pap.css' %}?v={% now 'U' %}">

{% if request.user.role == 'Administrador' %}

<div class="uno">
    <a href="{% url 'libreria:crear_usuario' %}" title="Crear usuario">
        <div class="opcion">
            <i data-feather="user-plus" class="icono"></i>
            <span>Crear usuario</span>
        </div>
    </a>

    <a href="{% url 'libreria:ver_usuario' user.id %}" title="Ver usuario">
        <div class="opcion">
            <i data-feather="user" class="icono"></i>
            <span>Ver perfil</span>
        </div>
    </a>

    <a href="{% url 'libreria:lista_usuarios' %}" title="Lista de usuarios">
        <div class="opcion">
            <i data-feather="users" class="icono"></i>
            <span>Lista de usuarios</span>
        </div>
    </a>
    <a href="{% url 'papeleria:crear_articulo' %}" title="Crear articulos">
        <div class="opcion">
            <i data-feather="file-plus" class="icono"></i>
            </i>
            <span>Crear articulos</span>
        </div>
    </a>
    <a href="{% url 'papeleria:listar_articulo' %}" title="Listar articulos">
        <div class="opcion">
            <i data-feather="package" class="icono"></i>
            <span>Listar articulos</span>
        </div>
    </a>
    <a href="{% url 'papeleria:crear_pedido' %}" title="Realizar Pedidos">
        <div class="opcion">
            <i data-feather="shopping-cart" class="icono"></i>
            <span>Pedidos</span>
        </div>
    </a>
    <a href="{% url 'papeleria:listado_pedidos' %}" title="Listado de pedidos">
        <div class="opcion">
            <i data-feather="list" class="icono"></i>
            <span>Listado de Pedidos</span>
        </div>
    </a>
    <a href="{% url 'papeleria:pedidos_pendientes' %}" title="Pedidos pendientes">
        <div class="opcion">
            <i data-feather="list" class="icono"></i>
            <span>Pedidos pendientes</span>
        </div>
    </a>
    <a href="{% url 'papeleria:lista_bajo_stock'  %}" title="Bajo stock">
        <div class="opcion">
            <i data-feather="alert-triangle" class="icono"></i>
            <span>Bajo stock</span>
        </div>
    </a>
    <a href="{% url 'papeleria:index_estadistica'  %}" title="Estadisticas">
        <div class="opcion">
            <i data-feather="bar-chart" class="icono"></i>
            <span>Estadisticas</span>
        </div>
    </a>
    <a href="{% url 'libreria:cambiar_contraseña'  %}" title="Cambiar contraseña">
        <div class="opcion">
            <i data-feather="lock" class="icono"></i>
            <span>Cambiar contraseña</span>
        </div>
    </a>
    <a href="{% url 'backup:index_backup'  %}" title="Copia de seguridad">
        <div class="opcion">
            <i data-feather="database" class="icono"></i>
            <span>Backup</span>
        </div>
    </a>
    <a href="{% url 'libreria:manual_usuario' %}" title="Manual de usuario" target="_blank">
        <div class="opcion">
            <i data-feather="book-open" class="icono"></i>
            <span>Manual de usuario</span>
        </div>
    </a>
    <a href="{% url 'papeleria:logout_view' %}" title="Cerrar sesión">
        <div class="opcion">
            <i data-feather="log-out" class="icono"></i>
            <span>Cerrar sesión</span>
        </div>
    </a>
</div>

{% endif %}
{% if request.user.role == 'Empleado' %}
<div class="uno">
    <a href="{% url 'libreria:ver_usuario' user.id %}">
        <div class="opcion">
            <i data-feather="plus-square" class="icono"></i>
            <span>Ver perfil</span>
        </div>
    </a>

    </a>
    <a href="{% url 'papeleria:crear_pedido' %}">
        <div class="opcion">
            <i data-feather="shopping-cart" class="icono"></i>
            <span>Pedidos</span>
        </div>
    </a>
    <a href="{% url 'papeleria:pedidos_pendientes' %}">
        <div class="opcion">
            <i data-feather="list" class="icono"></i>
            <span>Pedidos Pendientes</span>
        </div>
    </a>

    <a href="{% url 'papeleria:mis_pedidos' %}">
        <div class="opcion">
            <i data-feather="list" class="icono"></i>
            <span>Mis Pedidos</span>
        </div>
    </a>
    <a href="{% url 'libreria:cambiar_contraseña'  %}">
        <div class="opcion">
            <i data-feather="lock" class="icono"></i>
            <span>Cambiar contraseña</span>
        </div>
    </a>
    <a href="{% url 'libreria:manual_usuario' %}" title="Manual de usuario" target="_blank">
        <div class="opcion">
            <i data-feather="book-open" class="icono"></i>
            <span>Manual de usuario</span>
        </div>
    </a>
    <a href="{% url 'papeleria:logout_view' %}">
        <div class="opcion">
            <i data-feather="log-out" class="icono"></i>
            <span>Salir</span>
        </div>
    </a>

</div>

{% endif %}



<script>
    feather.replace();
</script>

{% endblock %}