html {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  gap: 0.5rem;
  font-family: Arial, sans-serif;
}

.pagination a,
.pagination span {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid transparent;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  position: relative;
  top: 270px;
}

.pagination a:hover {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination .current {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  cursor: default;
  font-weight: bold;
}

.pagination .disabled {
  color: #999;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

html,
body {
    background-color: #1c96bb1c;
}
section {
  background: linear-gradient(110deg, #c7def893, #ffffffa8);
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
        border: 2px solid rgba(2, 47, 90, 0.63);
  position: relative;
  top: 23vh;
  left: 9vh;
  text-align: center;
  padding: 10px 20px 20px 20px;
  width: 190vh;
  height: 60vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;

}
table {
    width: 180vh;
    border-spacing: 10px;
    position: absolute;
    top: 24vh;
    left: 8vh;

}

#nombre,
#fecha,
#Tamaño,
#modelos,
#acciones,
#descargar,
#restaurar,
#borrar{
    left: 20vh;
    background-color: rgba(43, 116, 226, 0.616);
    border-radius: 10px;
}
td {
  background-color: rgba(255, 255, 255, 0.384);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20vh 0 20vh 0;
  border-radius: 10px;
  height: 5vh;
  align-items: center;

}
/* Container for buttons */
.d-flex.flex-wrap.gap-3.mb-4 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 24px;
    justify-content: center;
}
.Botones {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 13vh;
  top: 5vh;
  background-color: violet;
}
.eliminar{
background-color: #b30000;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  width: 9vh;
  text-align: center;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}
.restaurar{
  background-color: #00b35f;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  width: 9vh;
  text-align: center;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}
.descargar{
background-color: #005cb3;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  width: 9vh;
  text-align: center;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}
.eliminar:hover{
    background-color: #8a0101;
    cursor: pointer;
    color: black;
}
.restaurar:hover{
    background-color: #03703d;
    cursor: pointer;
    color: black;
}
.descargar:hover{
    background-color: #003b72;
    cursor: pointer;
    color: black;
}
#td_descargar, #td_restaurar, #td_eliminar {
    width: 20px;
    padding-left: 8px;
}
.buscador {
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  height: 3.5vh;
  width: 50vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 20vh;
}
.crear{
  background-color: yellow;
  border: none;
  width: 10vh;
  height: 25px;
  border-radius: 20px;
  margin-right: 1vh;
  right: 40vh;
  position: absolute;
  cursor: pointer;
}
.crear:hover{
  background-color: rgb(190, 190, 3);
}
.importar{
  background-color: rgb(255, 0, 0);
  border: none;
  width: 10vh;
  height: 25px;
  border-radius: 20px;
  position: absolute;
  font-weight: bold;
  right: 30vh;
}
.importar:hover{
  background-color: rgb(187, 3, 3);
  cursor: pointer;
}
.exportar{
  background-color: rgb(0, 255, 13);
  border: none;
  width: 10vh;
  height: 25px;
  border-radius: 20px;
  position: absolute;
  right: 18vh;
  font-weight: bold;
}
.exportar:hover{
   background-color: rgb(4, 187, 13);
  cursor: pointer;
}
.por_fecha {
  background-color: #06b300;
  color: white;
  border: none;
  width: 10vh;
  height: 35px;
  border-radius: 20px;
  position: absolute;
  top: 12vh;
  left: 80vh;
  font-weight: bold;
  cursor: pointer;
}

#filtro-fechas {

  position: absolute;
  left: 95vh;
  top: 12vh;
}

.fecha_inicio,
.fecha_fin {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #000;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100px;
  height: 7px;
}

.fecha_inicio:hover,
.fecha_fin:hover {
  border-color: #1e90ff;
}

.fecha_inicio:focus,
.fecha_fin:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}



.search-date:hover {
  background-color: #044080;
  cursor: pointer;
}

.clean {
  background-color: #b30000;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  position: absolute;
  right: -24vh;
  top: 0vh;
  width: 10vh;
  text-align: center;
  margin-right: 1vh;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clean:hover {
  background-color: #8a0101;
  cursor: pointer;
  color: black;
}

.btn-search {
  background-color: #0056b3;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  position: absolute;
  left: 72vh;
  top: 12.5vh;
  width: 10vh;
  height: 25px;
  text-align: center;

  /* Centrado con Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-search:hover {
  background-color: #044080;
  cursor: pointer;
  color: black;
}

.search-date {
  background-color: #0056b3;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  position: absolute;
  height: 25px;
  left: 58vh;
  top: 0vh;
  width: 10vh;
  text-align: center;

  /* Centrado con Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-date:hover {
  background-color: #044080;
  cursor: pointer;
}