{% extends 'navbar.html' %}
{% block titulo %}Grafica estado de pedidos{% endblock %}
{% block contenido %}
<style>
    #grafica {
        width: 80%;
        max-width: 800px;
        position: absolute;
        top: -2vh;
        left: 10vh;
        height: 55vh;
        z-index: 1;
    }

    .cuadradoFondo {
        width: 80%;
        max-width: 800px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 29vh;
        left: 35vh;
        height: 61vh;
        z-index: 0;
    }
</style>
<div class="estadisticas-container">
    <div class="cuadradoFondo">
        <div id="grafica">
            <h2 >Grafica de estado de pedidos</h2>
            <canvas id="graficaPedidos"></canvas>
        </div>
    </div>
</div>
{{ nombres|json_script:"labels-data" }}
{{ cantidades|json_script:"cantidades-data"}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const nombres = JSON.parse(document.getElementById('labels-data').textContent);
    const cantidades = JSON.parse(document.getElementById('cantidades-data').textContent);
    const maxCantidad = 500;
    const porcentajes = cantidades.map(c => {
        let porcentaje = (c / maxCantidad) * 100;
        return porcentaje > 100 ? 100 : porcentaje.toFixed(2);
    });

    const ctx = document.getElementById('graficaPedidos').getContext('2d');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: nombres,
            datasets: [{
                label: 'Estado de pedidos',
                data: porcentajes,
                backgroundColor: [
                    'rgba(255, 205, 86, 0.6)',   // Pendiente
                    'rgba(75, 192, 192, 0.6)',   // Confirmado
                    'rgba(255, 99, 132, 0.6)'    // Cancelado
                ],
                borderColor: [
                    'rgba(255, 205, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1,
                maxBarThickness: 40
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    max: 100,
                    title: {
                        display: true,
                        text: 'Porcentaje (%)'
                    },
                    ticks: {
                        callback: function(value) {
                            return value + '%';
                        }
                    }
                }
            },
            plugins: {
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            return context.parsed.y + '%';
                        }
                    }
                }
            }
        }
    });
</script>
{% endblock %}