{% extends 'navbar.html' %}
{% load static %}

{% block titulo %}Inicio cde{% endblock %}

{% block contenido %}
{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/index_pap.css' %}?v={% now 'U' %}">
{% if request.user.role == 'Administrador' %}
<div class="uno">
    <a id="a" href="{% url 'cde:ver_usuario_cde' user.id %}" title="Ver usuario">
        <div class="opcion">
            <i data-feather="user" class="icono"></i>
            <span>Ver perfil</span>
        </div>
    </a>
    <a id="a" href="{% url 'cde:crear_pedido_cde' %}">
        <div class="opcion">
            <i data-feather="shopping-cart" class="icono"></i>
            <span>Pedidos</span>
        </div>
    </a>
    <a id="a" href="{% url 'cde:mis_pedidos_cde' %}">
        <div class="opcion">
            <i data-feather="user" class="icono"></i>
            <span>Mis Pedidos</span>
        </div>
    </a>
    <a id="a" href="{% url 'cde:pedidos_pendientes_cde' %}">
        <div class="opcion">
            <i data-feather="clock" class="icono"></i>
            <span>Pedidos Pendientes</span>
        </div>
    </a>
        <a id="a" href="{% url 'cde:lista_pedidos_cde' %}">
        <div class="opcion">
            <i data-feather="user" class="icono"></i>
            <span>Listado de pedidos</span>
        </div>
    </a>
    <a id="a" href="{% url 'papeleria:logout_view' %}">
        <div class="opcion">
            <i data-feather="log-out" class="icono"></i>
            <span>Salir</span>
        </div>
    </a>

    
</div>
{% endif %}
{% if request.user.role == 'Empleado' %}
<div class="uno_e">
    <a id="a" href="{% url 'cafeteria:ver_usuario_caf' user.id %}" title="Ver usuario">
        <div class="opcion">
            <i data-feather="user" class="icono"></i>
            <span>Ver perfil</span>
        </div>
    </a>
    <a id="a" href="{% url 'cafeteria:crear_pedido_caf' %}">
        <div class="opcion">
            <i data-feather="shopping-cart" class="icono"></i>
            <span>Pedidos</span>
        </div>
    </a>
    <a id="a" href="{% url 'cafeteria:mis_pedidos' %}">
        <div class="opcion">
            <i data-feather="user" class="icono"></i>
            <span>Mis Pedidos</span>
        </div>
    </a>
    <a id="a" href="{% url 'libreria:manual_usuario' %}" title="Manual de usuario" target="_blank">
        <div class="opcion">
            <i data-feather="book-open" class="icono"></i>
            <span>Manual de usuario</span>
        </div>
    </a>
    <a id="a" href="{% url 'papeleria:logout_view' %}">
        <div class="opcion">
            <i data-feather="log-out" class="icono"></i>
            <span>Salir</span>
        </div>
    </a>
</div>
{% endif %}
{% else %}
<div class="mensaje-sesion-cerrada">
    <p>Se ha cerrado tu sesión</p>
</div>
{% endif %}
<script>
    feather.replace();
</script>
{% endblock %}